  
        body{
            padding:0;
            margin:0;
            box-sizing: border-box;
            font-family: "Inter", "Roboto", sans-serif;
            background-color: #f8f9fb;
        }

        .navbar{
            display:flex;
            flex-direction: row;
            justify-content: center;
            gap:370px;
            align-items: center;
            background-color: #fff;

        }
        .abc{
            display: flex;
            flex-direction: row;
            
        }
        .abc a,
        .abc a:visited,
        .abc a:active
        {
            color: rgb(1, 0, 0);
            font-weight: 400;
            
        }

        .abc a:hover{
            color: red;
        }
        
        .btn{
            gap:10px;
            margin-top: 6px;
        }
        .btn button{
           padding:5px;
           border-radius: 8px ;
           border: 3px solid#ccc;
        
        }

        .btn a:hover{
           color: red;
        }

        .side-txt{
            background-color:#f8f9fb;
            width: 65%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding-top: 70px;

        }
        .head{
          font-weight: 350;
          font-size:3.2rem; 
          padding-left: 100px;
          line-height: 1.2;
            

        }
        .mid{
            font-weight: lighter;
            font-size: 1.5rem;
            padding-left: 100px;
            line-height: 1.7;
            
        }

        .featured-apps{
            
            width: 55%;
        }
         .main{
          display: flex;
          height: 100vh;
         }


         .btn2{
            padding-left: 100px;
            
         }

         .btn2 button{
            padding:10px;
            border-radius: 10px;
            border-radius: 3 px solid black;
            background-color: red;
            color:white;
         }
          button{
            cursor: pointer;
            color: white;
          }
         .eu{
            text-decoration-line: underline;
            text-decoration-style:dashed;
            text-decoration-thickness: 1px;
            text-underline-offset:5px ;

         }
          a,
          a:visited,
          a:active{
            text-decoration: none;
            color: black;
         }

         .fapp{
            display: flex;
            flex-direction: row;
            /* height: 15.1%; */
            height: 18.01%;
            padding-left: 30px;
            justify-content: space-around;
            padding-right:20px ;
            border-radius: 15px;
            cursor: pointer;
            align-items: center;
            /* border: 3px solid red;  */
            
         }         
         .imgui{
            display: flex;
            /* align-items: center; */
         }
         .fapp img{
            height: 60px;
            width: 60px;
             
         }

         .cont{
            height: 78%;
            /* height:83%; */
            width:80%;
            background-color: #fff;
            border-radius: 15px;
            border:3px solid #ccc;
            
         }

         .featured-apps{
            display: flex;
            justify-content: center;
            align-items: center;
         }

         h2{
            margin: 0px;
            padding: 0;
            font-weight: 500;
            

         }
         h5{
            margin:3px;
            margin-top: 10px;
            padding-bottom:10px;
            padding-left:30px;
    
         }
         p{
            margin-top: 5px;
            padding:0px;
            font-weight: 400;
            font-size:smaller;
         }
         .text{
            padding-left:30px;
            flex:1;
         }
         .uul{
            margin-left: 50px;
         }

         .arrow {
            font-size: 20px;
           color: #000;
           font-weight: 500;
           align-self: center;
         }

         :hover.fapp{
            background-color:lightblue;
         }
         
         .btn2 a{
            color: #fff;
         }
         .lastr{
            text-align: center;
            border-radius:16px;
            margin-bottom:0 ;
            padding:4px;
         }

         .lastr:hover{
            background-color: skyblue;
         }
         
  /* about section code starts from here      */
            
        
    .about-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: 60px auto;
      padding: 20px;
      background: white;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .about-text {
      flex: 1;
      min-width: 280px;
      padding: 20px;
    }

    .about-text h2 {
      font-size: 2rem;
      margin-bottom: 15px;
      color: #222;
    }

    .about-text p {
      font-size: 1rem;
      line-height: 1.6;
      color: #555;
    }

    .about-image {
      flex: 1;
      min-width: 280px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about-image .placeholder {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #ddd;
      border: 2px dashed #bbb;
    }

    
    @media (max-width: 768px) {
      .about-section {
        flex-direction: column;
        text-align: center;
      }

      .about-image {
        margin-top: 20px;
      }
    }
     
         

   